<!DOCtype html>
<html>
<head>
<meta type="text/html" charset="utf-8">
<link type="text/css" rel="stylesheet" href="/web/yiqi/Admin/Public/css/zixun.css">
<script type="text/javascript" src="/web/yiqi/Public/js/jquery.js"></script>
<script type="text/javascript" src="/web/yiqi/Admin/Public/js/manage.js"></script>
</head>
<title>管理中心 -- 咨询获取</title>
<body>

{include file='../../Common/header.tpl'}

<section>
	<div class="sm">
		<div class="sm-work">
			<p>校园招聘宣讲</p>
			<a href="{$smarty.const.__SELF__}/cate/work"><button type="button">获取</button></a>
			<button type="button">查看</button>
		</div>
		<div class="sm-soci">
			<p>社会热点新闻</p>
			<a href="{$smarty.const.__SELF__}/cate/soci"><button type="button">获取</button></a>
			<button type="button">查看</button>
		</div>
		<div class="sm-news">
			<p>学校热点新闻</p>
			<a href="{$smarty.const.__SELF__}/cate/hot"><button type="button">获取</button></a>
			<button type="button">查看</button>
		</div>
	</div>		
</section>

</body>
</html>