*{margin:0;padding:0}
body {color:#333;font-family:"微软雅黑"}
a {text-decoration:none;}

header {height:30px;}
header a {float:right;margin-right:10px;margin-top:5px;color:blue;}
header a:hover {color:red;}

section {border:1px solid white;width:600px;margin:50px auto 100px;}

.s-title {border:1px solid white;width:500px;margin:20px auto;}
p {text-align:center;margin-top:20px;}
.s-title-name {font-size:68px;color:#0F88EB;font-weight:bold;font-family:"华文彩云"}
.s-title-info {font-size:28px;color:#666;font-family:"隶书"}

.s-user {width:500px;margin:15px auto;}
form {border:1px solid white;width:400px;margin:0 auto;}
li {list-style:none;margin:16px 50px;}
li span {margin-right:36px;}
li .s-user-verify {margin-left:88px;}
#shuaxin {width:40px;}
li input {width:210px;height:36px;border-radius:6px;border:1px solid #ccc;}
li .s-user-box {margin-left:88px;font-family:"隶书";font-size:18px;}
#box {height:16px;width:16px;margin-left:8px;}
li .s-user-login {width:300px;background:#0F88EB;color:white;font-size:18px;border:none;
		cursor:pointer;}

footer {width:800px;margin:0 auto 20px;text-align:center;font-size:12px;color:#ADBCCB}
footer span {margin-right:8px;}
footer a {margin-right:8px;color:#ADBCCB}